

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAgBMncLIMvmeXtxP1k8wT5YJs-ByiBHus
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=puducan-f2fa4.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=puducan-f2fa4
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=puducan-f2fa4.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=526907923531
NEXT_PUBLIC_FIREBASE_APP_ID=1:526907923531:web:22eae81301a585d39b81ce
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-RNP34L7K3S